body {
    font-family: Arial, sans-serif;
    background-color: #c2ccd7;
    padding: 150px;

}


.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 7px solid #0b0a0a;
    border-radius: 5px;
    position: relative;


}

h2 {
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;

}

#result {
    font-size: 18px;
    margin-top: 10px;
}